
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

body{
    width: 75%;
    margin: auto;
}

header{
    height: 550px;
}

.Title{
    width: 135px;
    height: 55px;
}

.Link > a{
    height: 30px;
    text-decoration: none;
    text-transform: uppercase;
    color: lightgrey;
    padding-right: 10px;
}

.Link{
    margin-top: 30px;
    margin-bottom: 20px;
}

.Img{
    background-color:rgba(0, 0, 0, 0.2);
    width: 100%;
    height: 100%;
    padding-top: 300px;
    padding-left: 50px;
    padding-right: 400px;
    padding-bottom: 100px;
}

.Container_IMG{
    height: 450px;
    background-image: url(IMG/banner.jpg);
    background-size: 1100px;
    background-repeat: no-repeat;
    background-position: center;
}

.Description{
    color: white;
    font-size: 37px;
}

.Description_1{
    color: white;
}

main{
    height: 650px;
}

.Title_2{
    margin-top: 75px;
    font-size: 30px;
}

.Subtitle{
    color: grey;
    font-size: 20px;
}

.Container{
    height: 370px;
}

.Sidebar_left{
    width: 20%;
    float: left;
    margin-right: 10px;
}

.Background{
    background-color: rgba(0, 0, 0, 0.2);
    height: 200px;
    width: 100%;
}

.Img_1{
    background-image: url(IMG/img-1.jpg);
    height: 200px;
    width: 100%;
    background-size: contain;
    margin-bottom: 20px;
}

.Main_content{
    width: 58%;
    float: left;
    margin-right: 10px;
}    

.Background_2{
    background-color: rgba(0, 0, 0, 0.2);
    height: 200px;
    width: 100%;
}

.Img_2{
    background-image: url(IMG/banner-2.jpg);
    height: 200px;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 20px; 
    background-position: center;
}

.Background_3{
    background-color: rgba(0, 0, 0, 0.2);
    height: 200px;
    width: 100%;
}

.Img_3{
    background-image: url(IMG/img-3.jpg);
    height: 200px;
    width: 100%;
    background-size: 140%;
    background-repeat: no-repeat;
    margin-bottom: 20px;
    background-position: center;
}   

.Sidebar_right{
   
    width: 20%;
    float: left;
}

p{
    color: gray;
}

footer{
    height:50px;
    text-align: center;
    margin-top: 20px;
}

.Heart{
    color: red;
}